<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>

<% @movies.each do |movie| %>
  <div>
    <p>Movie Name: <%= movie.name %></p>
    <p>Rating: <%= movie.rating %></p>
    <p>Release Date: <%= movie.release_date %></p>
  </div>
<% end %>